/* * {
    border: solid;
} */

.menu{
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
}

.grid{
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.origami{
    border-radius: 20px;
    background-color: white;

    width: 310px;
    font-family: fantasy;

}

.bodyimg {
    color: white;
    background-image: url('https://cutewallpaper.org/21/cool-black-backrounds/Cool-Black-Background-Designs-47-images-.jpg');
    background-size: 600px 100%;

}

.intro {
        display: flex;
    justify-content: center;
}

.introtitle{
    display: flex;
    justify-content: center;
}